@import "../style/style.css";


#home_lateral_box {
    display: flex;

    width: 100vw;
    height: 100%;

    background-color: white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#home_lateral_box::-webkit-scrollbar {
    display: none;
    
}

.home_lateral_block {
    
    flex-shrink: 0;
    scroll-snap-align: start;
    
    width: 100vw;
    height: 100%;
    
    background-color: var(--back1);    

    display: flex;
    justify-content: center;
    align-items: center;


}

.home_block {   
    height: 80%;
    width: 90vw;

    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--back2);
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0px var(--boxshadow);

    position: relative;
}

.h2 {
    font-size: 2rem;
    text-align: center;    
}


.home_nuance_flag {
    height: clamp(40px, 6vmin, 64px);
    aspect-ratio: 110/70;
    border: solid 1px var(--logo_color_3);
    margin: auto;

    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;

}

.home_text {
    overflow-y: scroll;
    text-align: justify;
    margin-left: 15px; margin-right: 15px;
    margin-top: 4%; margin-bottom: 4%;
}

p {
    font-size: 1rem;
}

.home_dots {
    position: absolute;
    bottom: 30px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.home_dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(126, 126, 126);
    margin-left: 5px; margin-right: 5px;
}

#home_dot_current {
    background-color: rgb(12, 12, 12);
}