@import "../style/style.css";


#home_lateral_box {
    display: flex;

    width: 100vw;
    height: 100%;

    background-color: white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#home_lateral_box::-webkit-scrollbar {
    display: none;
    
}

.home_lateral_block {
    
    flex-shrink: 0;
    scroll-snap-align: start;
    
    width: 100vw;
    height: 100%;
    
    background-color: var(--back1);    

    display: flex;
    justify-content: center;
    align-items: center;


}

.home_block {   
    height: 80%;
    width: 90vw;

    box-sizing: border-box;
    overflow-x: scroll;

    background-color: var(--back2);
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0px var(--boxshadow);

    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}



.h2 {
    font-size: 1.5rem;
    text-align: center;   
    white-space: nowrap; 
}
.home_text {
    overflow-y: hidden;
    text-align: justify;
    margin-left: 30px; margin-right: 30px;
    margin-top: 60px;
}

p {
    word-wrap: break-word;
    font-size: 1rem;
}


.home_block_close_button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    padding: 10px;
    color: rgb(117, 117, 117);
}


.home_dots {
    position: absolute;
    bottom: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.home_dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(126, 126, 126);
    margin-left: 5px; margin-right: 5px;
}

#home_dot_current {
    background-color: rgb(12, 12, 12);
}