:root {
    --player-back: #f6f6f6f6;
    --player-button: #92929292;
    --player-black-button: #000000;
    --player-progress-bar-background: #c3c3c3c3;
    --player-progress-bar-foreground: #000000;

    --player-progress-bar-height: 4px;
    --player-height: clamp(40px, 8vmin, 64px);

    --font-size-player: 1rem;
    --font-size-icon: 1.5rem;



}

@media screen and (max-width: 800px) {
    :root {
        --player-height: 70px;
        --font-size-player: 2rem;

    }
}

#player {
    position: fixed;
    width: 100%;
    height: var(--player-height);
    bottom: 0; left: 0;
    box-shadow: 0px -2px 10px 0px var(--boxshadow);
    font-size: var(--font-size-player);
}



.player_progression_bar {
    width: 100%;
    height: var(--player-progress-bar-height);
}


#player_progression_bar_background {
    background-color: var(--player-progress-bar-background);
    position: relative;
}

#player_progression_bar_foreground {
    background-color: var(--player-progress-bar-foreground);
    position: fixed;
    width: 0%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#player_secondary_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding-left: 5vw; padding-right: 5vw;
    background-color: var(--player-back);

}
.player_secondary_container_element {
    font-size: clamp(0.7rem, 2vmin, 2rem);
    width: 25%;
    align-items: center;
    /* aligner vers le bas */
}

#player_music_title {
    text-align: left;
    font-size: clamp(1rem, 2vmin, 2rem);
    margin-left: 0;
}   

#player_control_button {
    text-align: center;
    display: flex;
    justify-content:space-evenly;
}   

@media screen and (max-width: 800px) {
    #player_control_button {
        width: 40%;
    }
}

.fa-solid {
    font-size: var(--font-size-icon)
}

.rotate_icon {
    font-size: calc(var(--font-size-icon) * 0.7);
    position: relative;
}

#player_time {
    text-align: right;
    margin-right: 0;
}



#backward_button::after {
    content:"15";
    font-size: 0.5rem;
    position: absolute;
    bottom: 0;
    left: -8px;
}

#forward_button::after {
    content:"15";
    font-size: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 15.5px;
}