:root {
    --image-height: 100px;
}



.pod_block {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 200px;

}

/* .pod_name {
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
    font-size: 1.3rem;
    font-weight: 500;
} */




.pod_item_list {
    display: block;
}

.pod_item {
    display: block;
    border-bottom: 1px solid #b8b8b8;
    padding: 15px 20px; 
}

/* .pod_item::after {
    box-shadow: inset 0px -20px 20px 0px red;
} */

.upper_item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

.pod_image {
    height: var(--image-height);
    width: var(--image-width);
}
img {
    height: var(--image-height);
    border-radius: 5px;
}

.pod_card {
    height: calc(var(--image-height) - 10px);
    width: calc(100% - var(--image-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left: 20px;
}


.h3 {
    font-size: 1.15rem;
    margin-bottom: 0px;
}

.h4 {
    font-size: 0.9rem;
    font-style: italic;
}

.h5 {
    font-size: 0.9rem; 
}

.h6 {
    font-size: 0.8rem;
    font-style: italic;
    color: rgb(124, 124, 124)
}

.audio_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.podcast_time {
    font-size: 0.7rem;
    color: rgb(87, 87, 87);
}

.play_button {
    font-size: 1.5rem;
}

.podcast_time_bar_container {
    background-color: var(--player-progress-bar-background);
    height: 5px;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-left: 10px;
    margin-right: 10px;
}

.podcast_time_bar {
    background-color: var(--player-progress-bar-foreground);
    height: 5px;
    width: 10%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}



.lower_item {

    height: 45px;
    overflow-y: hidden;
}